<mat-card class="filter-card">
  <mat-card-header>
    <mat-card-title>Фільтри</mat-card-title>
    <button color="primary" (click)="onReset()">Скинути фільтри</button>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="filterForm" class="filter-form">

      <mat-form-field class="full-width">
        <mat-label>Категорії транспорту</mat-label>
        <mat-select formControlName="categories" multiple>
          @for (category of categoriesList; track $index) {
          <mat-option [value]="category.value">
            {{ category.label }}
          </mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div class="severity-section">
        <div class="severity-controls">
          <mat-form-field class="severity-input">
            <mat-label>Від</mat-label>
            <mat-select formControlName="severityMin">
              @for (severity of severityLevels; track $index) {
              <mat-option [value]="severity.value">
                {{ severity.label }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>

          <mat-form-field class="severity-input">
            <mat-label>До</mat-label>
            <mat-select formControlName="severityMax">
              @for (severity of severityLevels; track $index) {
              <mat-option [value]="severity.value">
                {{ severity.label }}
              </mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="date-section">
        <div class="date-controls">
          <mat-form-field class="date-input">
            <mat-label>Дата від</mat-label>
            <input matInput [matDatepicker]="pickerFrom" formControlName="dateFrom" readonly>
            <mat-datepicker-toggle matIconSuffix [for]="pickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #pickerFrom></mat-datepicker>
          </mat-form-field>

          <mat-form-field class="date-input">
            <mat-label>Дата до</mat-label>
            <input matInput [matDatepicker]="pickerTo" formControlName="dateTo" readonly>
            <mat-datepicker-toggle matIconSuffix [for]="pickerTo"></mat-datepicker-toggle>
            <mat-datepicker #pickerTo></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

    </form>
  </mat-card-content>
</mat-card>