@use 'styles/variables/variables' as *;
@use 'styles/mixins/mixins' as *;

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font-family: $system-fonts-list;
}

.custom-scrollbar {
  @media only screen and (min-width: 768px) {
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background-color: #34373a;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #9a9a9a;
      border-radius: 100px;
    }
  }
}

body {
  font: 400 #{$fs-base}/#{$lh-base} $regular-font;
  background-color: $white;
  background-size: cover;
  min-width: 320px;
  color: $black;
  margin: 0 auto;
  padding: 0;
  scroll-behavior: smooth;
  overflow: hidden auto;
  @extend .custom-scrollbar;

  &.isMobMenuOpen {
    overflow: hidden;
  }
}

button {
  @include transition();
  margin: 0;
  border: 0;
  background: transparent;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  color: $black;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
  }
}

a {
  @include transition();
  text-decoration: none;
  outline: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ol,
ul {
  list-style: none;
}

.main {
  @extend .custom-scrollbar;
  position: relative;
  background-color: $white;
  z-index: 2;
  padding-bottom: 48px;

  &-layout {
    position: relative;
    width: 100%;
    max-width: calc(1240px + $padding-default * 2);
    margin: 0 auto;
    padding: 0 $padding-default;
  }

  &__title {
    @include font(36px, $lh-base, $text-bold);
    color: $title-color;
    text-align: center;
    margin: 40px 0 16px;
  }
}

.error {
  &__container {
    padding: 40px 0;
    margin: 30px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    text-align: center;
  }

  &__title {
    @include font(24px, $lh-base, $text-bold);
    color: red;
    margin-bottom: 16px;
  }

  &__message {
    @include font(18px, $lh-base, $text-regular);
    color: $secondary-color;
    margin-bottom: 24px;
  }
}

.back-btn {
  @include size(max-content, 32px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: 4px;
  text-decoration: none;
  padding: 0 12px;

  &:hover {
    background-color: $secondary-color;
    color: white;
  }

  &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAABIElEQVR4nO3asW0CQRCF4Z+EiNAVQAFU4Mg1uAVacDH0QAUgSzixJRNRgGNLpCQELAmLRpYwGLE67773SZNcdPOku5vbXTAzMzMzM7NiRsAKWCDoEfgG0rGkTIBdaF4mgD4w/dG4TAAPwOuZ5psPYAx8/dJ80wE8A9sLzTcZQA94AfZXNN9cAANgdmXjzQUwBNZ/bL6ZAJ6AzQ3Nd11vpYabVFEVGW5SRVVkuEkVVZHhJlVURYabVFEVGW5SRVVkuEkV1UUf/+AmOw3gXT2AgfojgPpLMJL9DEbSg1AmPQpn0j9DkezvcAsLIkvuaKi8JJZJL4pm0svikezGSCS9NZZJb45m0tvjkewBiUj6iEw8JPUJzE9XzMzMzMzMjM4cAAt4Jq+S3G+kAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
  }
}
